/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.nav {
  background-color: #343a40;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav a {
  color: #f8f9fa;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.nav a:hover {
  background-color: #495057;
  color: white;
}

.nav .site-title {
  font-size: 24px;
  font-weight: bold;
  color: #f8f9fa;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
  min-height: 100vh;
}

.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.note {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  color: #dcd85c;
  border-radius: 5px;
}

.note input[type='text'],
.note textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.note textarea {
  resize: vertical;
}

.note-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.save {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.save:hover {
  background-color: #45a049;
}

.format-buttons {
  display: flex;
  gap: 5px;
}

.format-buttons button {
  background-color: #e1e1e1;
  color: #333;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.format-buttons button:hover {
  background-color: #ededed;
}

.clear {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.clear:hover {
  background-color: #da190b;
}

.search {
  display: flex;
  align-items: center;
  background-color: #eee;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 1.5em;
}

.search input {
  border: none;
  background-color: #eee;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}

.search input:focus {
  outline: none;
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #222;
  color: #fff;
}

.nav.dark-mode {
  background-color: #121212;
}

.nav.dark-mode a {
  color: #ddd;
}

.nav.dark-mode a:hover {
  background-color: #333;
}

.container.dark-mode {
  background-color: #333;
  color: #fff;
}

.note.dark-mode {
  background-color: #444;
  color: #fff;
}

.note.dark-mode input[type='text'],
.note.dark-mode textarea {
  background-color: #555;
  color: #fff;
  border: 1px solid #666;
}

.note.dark-mode .save,
.note.dark-mode .clear,
.note.dark-mode .format-buttons button {
  background-color: #666;
  color: #fff;
}

.search.dark-mode {
  background-color: #555;
}

.search.dark-mode input {
  background-color: #666;
  color: #fff;
}

.format-buttons.dark-mode button,
.clear.dark-mode {
  background-color: #777;
}

.format-buttons.dark-mode button:hover,
.clear.dark-mode:hover {
  background-color: #666;
}