 :root {
     /* Colors */
     --primary-color: #007bff;
     --accent-color: #00ffff;
     /* Futuristic bright blue */
     --border-color: rgba(0, 0, 0, 0.1);

     /* Fonts */
     --primary-font: 'Roboto Mono', monospace;
     /* Monospace font for a techy feel */

     /* Backgrounds */
     --header-bg-color: transparent;
     --content-bg-color: #111;
     /* Dark background */
     --team-card-bg-color: rgba(0, 0, 0, 0.7);
     /* More transparent card background */

     /* Text */
     --text-color: #fafa04;
     --button-text-color: white;
 }

 body,
 html {
     margin: 0;
     padding: 0;
     font-family: var(--primary-font);
     background-color: var(--content-bg-color);
     color: var(--text-color);
 }

 /* Animations */
 @keyframes fadeInUp {
     from {
         opacity: 0;
         transform: translateY(20px);
     }

     to {
         opacity: 1;
         transform: translateY(0);
     }
 }

 @keyframes pulse {
     0% {
         opacity: 1;
     }

     50% {
         opacity: 0.8;
     }

     100% {
         opacity: 1;
     }
 }

 @keyframes textGlow {
     0% {
         text-shadow: 0 0 0 var(--accent-color);
     }

     50% {
         text-shadow: 0 0 10px var(--accent-color);
     }

     100% {
         text-shadow: 0 0 0 var(--accent-color);
     }
 }

 @keyframes backgroundShift {
     0% {
         background-position: 0 0;
     }

     50% {
         background-position: 100px 0;
     }

     100% {
         background-position: 0 0;
     }
 }

 .landing-page {
     background-image: url(https://img.freepik.com/premium-photo/black-3d-illustration-back-school-product-display-podium-stand-side-with-pencils-books_611870-3050.jpg?w=740);
     height: 100vh;
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     padding: 2rem;
     color: hsla(0, 9%, 75%, 0.959);
     background-size: cover;
     background-position: center;
     animation: fadeInUp 1.5s ease-in-out, backgroundShift 10s infinite linear;
     /* Apply multiple animations */
 }

 .landing-header {
     background-color: var(--header-bg-color);
     padding: 2rem;
     border-bottom: none;
     box-shadow: none;
     border-radius: 0;
     margin-bottom: 2rem;
     animation: fadeInUp 1s ease-in-out;
 }

 .landing-header h1 {
     margin-bottom: 1rem;
     font-size: 2.5rem;
     color: var(--accent-color);
     animation: textGlow 2s infinite alternate;
 }

 .landing-header p {
     margin-bottom: 2rem;
     font-size: 1.2rem;
     color: var(--text-color);
 }

 .landing-header button {
     background-color: rgba(0, 0, 0, 0.7);
     color: var(--button-text-color);
     border: none;
     padding: 0.75rem 1.5rem;
     border-radius: 4px;
     cursor: pointer;
     transition: background-color 0.3s ease, transform 0.3s ease;
 }

 .landing-header button:hover {
     background-color: rgba(0, 0, 0, 0.9);
     transform: scale(1.05);
     /* Slightly scale on hover */
 }