/* Login.css */

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f4f8;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-box .logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.login-box .tagline {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 20px;
}

.login-box form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-box div {
    margin-bottom: 20px;
}

.login-box label {
    margin-bottom: 5px;
    font-weight: bold;
}

.login-box input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: calc(100% - 22px);
    /* Adjust for padding and border */
}

.login-box button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-box button:hover {
    background-color: #0056b3;
}

.footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #666;
}