body,
html {
    text-decoration-color: antiquewhite;
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(https://img.freepik.com/premium-photo/black-3d-illustration-back-school-product-display-podium-stand-side-with-pencils-books_611870-3050.jpg?w=740);

}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-group {
    color: antiquewhite;
}

.login-box {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    text-decoration-color: antiquewhite;
}

.logo-container {
    margin-bottom: 20px;
}

.logo {
    max-width: 100px;
    margin-bottom: 10px;
}

.tagline {
    font-size: 1.5rem;
    color: #007bff;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}

.footer {
    margin-top: 20px;
    color: #777;
    font-size: 0.9rem;
}